body {
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

table {
    background-color: #fff;
}

header a {
    padding: 5px;
    margin: 3px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(7, 156, 7, 0.63);
    text-decoration: none;
    color: white;
    
}

